<div>
  <form class="search-form" [formGroup]="searchForm" (ngSubmit) ="searchEvents()">
    <mat-form-field>
      <input matInput placeholder="owner" formControlName="ownerFormControl" />

    <mat-error *ngIf="f.ownerFormControl.invalid && (f.ownerFormControl.dirty || f.ownerFormControl.touched) && f.ownerFormControl.errors.required">
      Please enter a owner name
    </mat-error>
    </mat-form-field>

    <mat-form-field >
      <input matInput placeholder="repo" formControlName="repoFormControl"/>
      <mat-error *ngIf="f.repoFormControl.invalid && (f.repoFormControl.dirty || f.repoFormControl.touched) && f.repoFormControl.errors.required">
        Please enter a repo name
      </mat-error>
    </mat-form-field>

    <mat-form-field >
      <input matInput placeholder="event type" formControlName="eventTypeFormControl"/>
      <mat-error *ngIf="f.eventTypeFormControl.invalid && (f.eventTypeFormControl.dirty || f.eventTypeFormControl.touched) && f.eventTypeFormControl.errors.required">
        Please enter a event type
      </mat-error>
    </mat-form-field>


    <button type="submit" [disabled]=!searchForm.valid  mat-raised-button color="primary">Search</button>

  </form>
</div>

<div style="margin: 10px">
    <mat-error *ngIf="errorMessage">
        {{errorMessage}}
    </mat-error>
</div>


  <table mat-table [dataSource]="eventsData" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


    <!-- Name Column -->
    <ng-container matColumnDef="ActorName">
      <th mat-header-cell *matHeaderCellDef> Actor Name </th>
      <td mat-cell *matCellDef="let element"> {{element.actor.login}} </td>
    </ng-container>

    <!-- EventType Column -->
    <ng-container matColumnDef="EventType">
      <th mat-header-cell *matHeaderCellDef> Event Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="EventDate">
      <th mat-header-cell *matHeaderCellDef> Event Date </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
    </ng-container>


    <!-- CommitReference Column -->
    <ng-container matColumnDef="CommitReference">
      <th mat-header-cell *matHeaderCellDef> Commit Reference </th>
      <td mat-cell *matCellDef="let element"> {{element.payload?.ref}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

